<launch>
  <arg name="nav_mode" default="$(env NAV_MODE)" doc="nav_mode [true for nav, false for exploration]"/>
  <!-- Load up the Environment -->
  <include file="$(find entertrainer_test)/launch/entertrainer_house.launch" />

  <!-- Boot up the Robot -->
  <include file="$(find entertrainer_test)/launch/entertrainer_robot.launch" />

  <!-- Load up the robot navigation in exploration mode, comment out operation mode launch file when active -->
  <include file="$(find entertrainer_navigation)/launch/entertrainer_exploration.launch" unless="$(arg nav_mode)"/>

  <!-- Load up the robot navigation in operation mode, comment out exploration mode launch file when active -->
  <include file="$(find entertrainer_navigation)/launch/entertrainer_navigation.launch" if="$(arg nav_mode)"/>


  <!-- Load up the Test Node -->
  <!--<node name="test_ball" pkg="entertrainer_test" type="test_ball" output="screen" />-->

 <node name="test" pkg="entertrainer_test" type="test" output="screen" />

  <param name="ball_description" command="cat '$(find entertrainer_test)/urdf/tennis_ball.urdf'" />

  <node name="tennis_ball_spawn1" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param ball_description -model tennis_ball1" />
  <node name="tennis_ball_spawn2" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param ball_description -model tennis_ball2" />
  <node name="tennis_ball_spawn3" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param ball_description -model tennis_ball3" />

  <!-- Dog -->
  <param name="dog_description" command="cat '$(find entertrainer_test)/urdf/dog.urdf'" />
  <node name="dog_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param dog_description -model dog -x -1.27 -y 4.45 -z 0 " />

  <!-- vase -->
<!--  <param name="vase_description" command="cat '$(find entertrainer_test)/urdf/vase.urdf'" />
  <node name="vase_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param vase_description -model vase -x -2.5 -y 2.48 -z 1.5 " />-->

 <!-- <node name="collision_checker" pkg="entertainer_pcl" type="entertrainer_pcl" output="screen" /> -->


<!--  <node name="trajectory_planner" pkg = "entertrainer_traj_planner" type="entertrainer_traj_planner" output="screen"/> -->

 <node name="trajectory_planner" pkg = "entertrainer_traj_planner" type="entertrainer_traj_planner" output="screen"/>


</launch>
