<launch>


  <!-- Load up the Environment -->
  <include file="$(find entertrainer_test)/launch/entertrainer_house.launch" />

  <!-- Load up the Gmapper -->


  <!-- Load up the Test Node -->
  <!--<node name="test_ball" pkg="entertrainer_test" type="test_ball" output="screen" />-->
 <!-- <node name="test" pkg="entertrainer_test" type="test" output="screen" /> -->

 <!--
 -->
 <include file="$(find gmapping)/launch/slam_gmapping_pr2.launch" />
  <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" />
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
  <arg name="slam_methods" value="gmapping"/>
  </include>

  <param name="ball_description" command="cat '$(find entertrainer_test)/urdf/tennis_ball.urdf'" />

  <node name="tennis_ball_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param ball_description -model tennis_ball" />


  <param name="dog_description" command="cat '$(find entertrainer_test)/urdf/dog.urdf'" />
  <node name="dog_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param dog_description -model dog -x -3 -y -2 -z 0 " />

<!--  <param name="dog_description" command="cat '$(find little_dog)/LittleDog.urdf'" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model littledog -x -3 -y -2 -z 0 -param dog_description" />
-->

 <!-- <node name="collision_checker" pkg="entertainer_pcl" type="entertrainer_pcl" output="screen" /> -->

</launch>
